body {
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(1, 39, 255, 1);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-info {
    display: flex;
    justify-content: space-between;
}

.start-button {

    padding: 10px 20px;
    font-size: 16px;
    font-weight: 800;
    border-radius: 5px;
    border: none;
    color: white;
    margin-right: 20%;
    cursor: pointer;
    color: rgba(0, 0, 0, 1);

}
button:hover {
    background-color: rgba(0, 0, 243, 1);
}

p {
    padding: 10px;
    font-size: 22px;
    color: black;
    font-weight: 400;
}

.centered-div {
    text-align: center;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    height: 80%;
    background-color: #5586f1ff;
    background-color: rgba(255, 255, 255, 0.1); /
}
.score-for-blue, .score-for-red{
    font-size: 18px;
    font-weight: bold;
}
.score {
    font-size: 25px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 40%;
   

}
td {
    border: 5px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 75px;

}

#primary-div {
    width: 100%;
}
table {
    background-color: rgba(175, 175, 175, 1);
}
.showplay {
    margin-bottom: 60px;
    color: black;
    font-weight: 700;
    font-family: Arial, sans-serif;
    font-size: 50px;
}

.pop-up-box {
    height: 30%;
    width: 50%;
    background-color: rgba(73, 73, 73, 0.7);
    justify-content: center;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(5px);
    
    display: none;

}
p {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.choose-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-button,
.quit-button {
    padding: 12px 25px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    color: black;
    transition: 0.2s ease;
    margin: 1px 20px;

}

.play-button:hover {
    background: lime;
}
.quit-button:hover {
    background: red;
}

@media only screen and (max-width:768px) {
    body {
        font-size: 16px;
        width: 100%;
        
    }
    .pop-up-box {
        height: 250px;
        width: 92%;
    }

    .start-button {

        padding: 10px 20px;
        font-size: 16px;
        
    }
    .centered-div{
        text-align: left;
        height: auto;
    }
    table {
        width: 100%;
        margin-bottom: 20px;
    }
    
    td {
        aspect-ratio: 1/1;
        width: 100px;
        height: 100px;
    }
    .start-button {

        padding: 10px 20px;
        font-size: 16px;
        font-weight: 800;
        border-radius: 5px;
        border: none;
        color: white;
        display: flex;
        cursor: pointer;



        color: rgba(0, 0, 0, 1);
    }

}
@media only screen and (min-width: 1200) {
    body {
        font-size: 20px;
    }
    .pop-up-box {
        height: 30%;
        width: 50%;
    }
    .centered-div {
        padding: 10px;
    }
}


.test-box
 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: fixed;

    width: 300px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;

}
