body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: rgb(63, 63, 248);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.main-content {
    width: 500px;
    max-width: 90%;
    margin: auto;
}

.question-div {
    border: 1px solid black;
    background-color: rgba(38, 212, 255, 1);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.content {
    border: 1px solid black;
    background-color: gray;
    padding: 20px;
    font-weight: 400;
    border-radius: 8px;
    text-align: left;
}

.page-displayed {
    color: rgb(0, 0, 228);
    font-size: 20px;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    color: black;
    transition: 0.2s ease;
    margin-bottom: 10px;
    display: block;
}

.next {
    margin-top: 30px;
    background-color: rgba(10, 13, 197, 1);
    color: white;
}

.next:hover {
    background: blue;
}

button:hover {
    background: rgba(255, 0, 0, 1);
    color: white;
}

/* Responsive layout for mobile screens */
@media (max-width: 786px) {
    body {
        padding: 10px;
    }

    .main-content {
        width: 100%;
        max-width: 100%;
    }

    .content {
        padding: 15px;
    }

    button {
        font-size: 16px;
        padding: 10px;
    }
}